body{
    padding: 0;
    margin: 0;
    background-color: pink;
}

header,footer{
    width: 100%;
    background-color: black;
}
 header {
  height: 15vh; 
 }
footer{ 
    height: 5vh; 
}
contprincipal {
     display :flex
}